.navbar {
  margin: 20px 32px 0;
  padding: 16px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: #6b5ce7;
  font-weight: 800;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 700;
}